[submodule "include/glm"]
	path = include/glm
	url = https://github.com/g-truc/glm.git
[submodule "include/glfw"]
	path = include/glfw
	url = https://github.com/glfw/glfw.git
[submodule "include/glew-cmake"]
	path = include/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
